In [1]:
import pandas as pd

In [4]:
## Set sample info
## Set passaging
sampleinfo = pd.DataFrame([(23,0,4),(21,0,1),(1,30,1),(2,30,1),(3,30,1),(4,30,1),(5,30,1),
                             (22,0,2),(6,30,2),(7,30,2),(8,30,2),(9,30,2),(10,30,2),
                             (11,37,1),(12,37,1),(13,37,1),(14,37,1),(15,37,1),
                             (16,37,2),(17,37,2),(18,37,2),(19,37,2),(20,37,2)],
                          columns=['Sample','Passaged','Isolate'])

## Set sample manuscript name
sampleinfo['Name'] = ['XL280.3','XL280.1','30-01','Duplicate-30-01','30-02','30-16','Duplicate-30-16',
                      'XL280.2','30-17','30-03','30-18','30-19','30-20',
                      '37-01','37-02','37-16','37-17','37-03',
                      '37-18','37-19','37-20','37-21','37-22']

## save dataframe
sampleinfo.to_csv('../DATA/sampleinfo.tsv',sep='\t',index=False)

In [3]:
## View the data
sampleinfo

    Sample  Passaged  Isolate             Name
0       23         0        4          XL280.3
1       21         0        1          XL280.1
2        1        30        1            30-01
3        2        30        1  Duplicate-30-01
4        3        30        1            30-02
5        4        30        1            30-16
6        5        30        1  Duplicate-30-16
7       22         0        2          XL280.2
8        6        30        2            30-17
9        7        30        2            30-03
10       8        30        2            30-18
11       9        30        2            30-19
12      10        30        2            30-20
13      11        37        1            37-01
14      12        37        1            37-02
15      13        37        1            37-16
16      14        37        1            37-17
17      15        37        1            37-03
18      16        37        2            37-18
19      17        37        2            37-19
20      18        37        2            37-20
21      19        37        2            37-21
22      20        37        2            37-22